{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <title>어떤 카페로 갈까?</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
<div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">어느 카페 갈까?</a>
        <ul class="navbar-nav mr-auto">
            {% if user.is_active %}
                <li class="nav-item">
                <a class="nav-link" href="/">{{ user.name }}</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">로그아웃</a>
                </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="/login">로그인/회원가입</a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="#"></a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" name="search_form">
            <input class="form-control" type="search" placeholder="무료주차, 데이트, 달달 ..." aria-label="Search" name="tag">
            <button class="btn btn-outline-info" type="submit">Search</button>
        </form>
    </nav>
</div>
<div class="content-container">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>