{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <title>어떤 카페로 갈까?</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
<div>
    {% block navbar %}
    {% endblock %}
</div>
<div class="content-container">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>