body{
    overflow: hidden;
}

.navbar{
    padding: 20px 10% 20px 10%;
    background: #000;
    color: white;
}

.form-inline{
    width: 40%;
    display: flex;
    flex-direction: row;
}

.form-control{
    margin: 0px 8px 0px 8px;
    flex: 5;
}

.btn{
    margin: 0px 8px 0px 8px;
    flex: 1;
}

.content-container{
    overflow-y: scroll;
    height: 100%;
    background: powderblue;
    padding: 0px;
    /*padding: 0 10% 0 10%;*/
}

.border{
    margin-top: 8px;
}

#extend img{
    left: 0;
    top: 0;
    width: 80px;
    height: 80px;
    position: absolute;
    padding: 10px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    /*padding-top: 60px;*/
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
}

#comment-box {
    height: inherit;
    overflow-y: scroll;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}